
.form-group-home{
    width: 300px;
}

.form-group-home2{
    width: 300px;
}

.jumbotron-home{
    margin-top: 180px;
    width: 96%;
}

.table {
   margin: 0 auto;
   width: 80%!important;
}

.alert{
    margin: 0 auto;
    width: 50%;
}

.containereditinfo{
    margin-top: 180px;
}

.containerlogin{
    margin-top: 180px;
}

.containerfoodtrack{
     margin-top: 180px;
}
.containercreateuser{
    margin-top: 180px;

}
.register-container{

}
.card-deck{
    margin-top: 180px;
}


.cardnew{
    margin-top: 180px;

}
.card-img-top1{
    width: 100px;
    height: 100px;
}