
.form-group-home{
    width: 300px;
}

.form-group-home2{
    width: 300px;
}

.jumbotron-home{
    margin-top: 180px;
    width: 96%;
}

.table {
   margin: 0 auto;
   width: 80%;
}

.alert{
    margin: 0 auto;
    width: 50%;
}